################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AITranscriberWin
/AITranscriberWinApp/.vs
/AITranscriberWinApp/bin/Debug
/AITranscriberWinApp/obj/Debug
/packages
