<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
  </appSettings>
  <userSettings>
    <AITranscriberWinApp.Properties.Settings>
      <setting name="OpenAIApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="TranslationEndpoint" serializeAs="String">
        <value>https://translate.argosopentech.com/translate</value>
      </setting>
    </AITranscriberWinApp.Properties.Settings>
  </userSettings>
</configuration>
